<% @title = "découvrir" %>
<div class="container"><h3 class="px-3">Suggestions de mes ami.e.s</h3>
<div class="container-detail gap1">
      <% @suggestions.first(6).each do |suggestion| %>
        <div class="cards-playlist white-background">
            <%= image_tag suggestion.book.image_url, class: "image-book" %>
          <h5><%= suggestion.book.title %></h5>
            <p><%= suggestion.book.author %></p>
        </div>
        <% end %>
    </div>
</div>

<div class="container"><h3 class="px-3">Ma liste de souhaits</h3>
<div class="container-detail gap1">
      <% @wishlist.first(6).each do |wish| %>
<div class="cards-playlist white-background">
            <%= image_tag wish.book.image_url, class: "image-book" %>
          <h4><%= wish.book.title %></h4>
            <p><%= wish.book.author %></p>
        </div>
        <% end %>
    </div>
</div>

<div class="container">
  <h3 class="px-3">Mes recommandations</h3>
  <div class="container-detail gap1">
      <% current_user.recs_books.first(6).each do |recommandation| %>
        <%= link_to book_path(recommandation[:book]), class: 'text-decoration-none' do %>
        <div class="cards-playlist white-background">
          <%= image_tag recommandation[:book].image_url, class: "image-book" %>
          <h4><%= recommandation[:book].title %></h4>
          <p><%= recommandation[:book].author %></p>
          <p><%= recommandation[:similarity].to_i %></p>
        </div>
        <% end %>
      <% end %>
    </div>
</div>
