<div class="container book-show">
	<div class="h1">
		<%= @reading.book.title %>
		<% if @reading.my_rating %>
		<h4><%= @reading.my_rating %><i class="fa-solid fa-star"></i></h4>
		<% end %>
	</div>
	<h3><%= @reading.book.author %></h3>
	<div class="reading-status" data-controller="display-all">
		<% if @reading.reading_status == "unread" %>
		<div class="reading-status-bloc">
			<div class="reading-status-bar" style="width:0%"></div>
    </div>
		<div>
			<a data-display-all-target="button" data-action="click->display-all#displayForm">non lu <i class="fa-solid fa-check"></i></a>
		</div>
		<% elsif @reading.reading_status == "reading" %>
		<div class="reading-status-bloc">
			<div class="reading-status-bar" style="width:50%"></div>
		</div>
		<div>
			<a data-display-all-target="button" data-action="click->display-all#displayForm">en cours <i class="fa-solid fa-check"></i></a>
		</div>
		<% elsif @reading.reading_status == "read" %>
		<div class="reading-status-bloc">
			<div class="reading-status-bar" style="width:100%"></div>
		</div>
		<div>
			<a data-display-all-target="button" data-action="click->display-all#displayForm">lu <i class="fa-solid fa-check"></i></a>
		</div>
		<% end %>
		<div data-display-all-target="form" class="d-none">
			<%= simple_form_for @reading, html: { class: "d-flex align-items-center"} do |f| %>
        <%= f.input :reading_status, label: false, as: :select, collection: [["lu", "read"], ["non lu", "unread"], ["en cours", "reading"]], input_html: { style: "margin-bottom: -1rem" } %>
        <%= f.button :submit, "modifier", data: {action: "click->display-all#displayForm"} %>
			<% end %>
		</div>
	</div>
	<div data-controller="display-all">
		<% if @reading.shared_to.present? %><div class="reading-shared" data-display-all-target="button">
		<a data-display-all-target="button" data-action="click->display-all#displayForm">
			prêté à
			<%= @reading.shared_to %>
		</a></div>
		<% else %>
		<a class="shared_link" data-display-all-target="button" data-action="click->display-all#displayForm"><i class="fa-solid fa-share"></i></a>
		<% end %>
    <div data-display-all-target="form" class="d-none reading-shared">
			<%= simple_form_for @reading, html: { class: "d-flex align-items-center"} do |f| %>
			<%= f.input :shared_to, label: false, input_html: { style: "margin-bottom: -1rem" } %>
			<%= f.button :submit, "prêter", data: {action: "click->display-all#displayForm"} %>
			<% end %>
		</div>
	</div>
	<div class="white-background">
		<%= image_tag @reading.book.image_url, alt: @reading.book.title, class: "book-cover"%>
		<ul>
			<li><i class="fa-solid fa-bookmark"></i><%= @reading.book.publisher %>, <%= @reading.book.publishing_year %></li>
			<li><i class="fa-solid fa-bookmark"></i><%= @reading.book.book_type.capitalize %>: <%= @reading.book.genre %></li>
		</ul>
		<div data-controller="display-all">
			<% if @reading.comment.present? %>
			<p>
				<strong>Commentaire personnel:</strong>
				<%= @reading.comment %>
			</p>
			<% end %>
			<center><a class="btn btn-success" data-display-all-target="button" data-action="click->display-all#displayForm">Mon commentaire</a></center>
			<div data-display-all-target="form" class="d-none">
				<%= simple_form_for @reading do |f| %>
				<%= f.input :my_rating, :label =>
				"Note", as: :select, collection: 0..5 %>
				<%= f.input :comment, :as =>
				:text, label: "Commentaire" %>
				<center><%= f.button :submit, "Ajouter", data: {action: "click->display-all#displayForm"}, class: "btn btn-danger" %></center>
				<% end %>
			</div>
		</div>
	</div>
  <div class="btn-group d-flex justify-content-evenly mb-3">
    <div data-controller="display-all"><a class="btn btn-danger" data-display-all-target="button" data-action="click->display-all#displayForm">Ajouter à une liste de favoris</a>
      <div data-display-all-target="form" class="d-none">
        <%= simple_form_for [@reading, @playlist_item] do |f| %>
        <%= f.input :playlist, label: false, as: :select, collection: @playlists, include_blank: false %>
        <%= f.button :submit,"Ajouter", data: {action: "click->display-all#displayForm"}, class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
    <div>
      <%= link_to "Retirer de ma bibliothèque", reading_path(@reading), data: {turbo_method: :delete, turbo_confirm: "êtes vous sûre ?" }, class: "btn btn-danger" %>
      </p>
    </div>
  </div>
