<% @title = @user.nickname %>

<div class="container d-flex my-3 profile">
<%= image_tag @user.avatar, alt: @user.nickname, class: "profile-avatar"%>
<div class="white-background d-flex justify-content-center flex-column ms-3" style="width: 100%">
      <p><i class="fa-solid fa-cake-candles"></i> <%= @user.age %> ans</p>
      <p><i class="fa-solid fa-city"></i> <%= @user.city %></p>
    </div>
</div>

<center><% if @user != current_user && !@friends.include?(current_user) %>
  <%= simple_form_for @new_friend do |f| %>
    <%= f.input :friend_id, :as => :hidden, :input_html => { :value => current_user.id }  %>
    <%= f.input :user_id, :as => :hidden, :input_html => { :value => @user.id }  %>
    <%= f.button :submit, "Ajouter en ami.e", class: "btn btn-danger" %>
  <% end %>
<% end %></center>

<% if @friends.length != 0 %>
  <h3 class="m-3">Liste d'ami.e.s</h3>
  <div data-controller="display-all" class="container white-background">
    <div data-display-all-target="summary">
      <div class="d-flex gap1">
        <%= render 'friend_relationship_partial', collection: @friends[0,5] %>
      </div>
      <a data-action="click->display-all#displaySummary" data-display-all-target="summary">voir plus</a>
    </div>
    <div class="d-none" data-display-all-target="summary_all">
      <div class="d-flex gap1">
        <%= render 'friend_relationship_partial', collection: @friends %>
      </div>
      <a data-action="click->display-all#displaySummary" data-display-all-target="summary">voir moins</a>
    </div>
  </div>
<% end %>
