<% @title = @user.nickname %>

<div class="container d-flex profile m-3">
<%= image_tag @user.avatar, alt: @user.nickname, class: "profile-avatar"%>
<div class="white-background d-flex justify-content-center flex-column ms-3" style="width: 100%;gap: 0.5rem">
      <p><i class="fa-solid fa-cake-candles"></i> <%= @user.age %> ans</p>
      <p><i class="fa-solid fa-city"></i> <%= @user.city %></p>
    </div>
</div>

<center><% if @user != current_user && !@friends.include?(current_user) %>
  <%= simple_form_for @new_friend do |f| %>
    <%= f.input :friend_id, :as => :hidden, :input_html => { :value => current_user.id }  %>
    <%= f.input :user_id, :as => :hidden, :input_html => { :value => @user.id }  %>
    <%= f.button :submit, "Ajouter en ami.e", class: "btn btn-warning" %>
  <% end %>
<% end %></center>

<% if @friends.length != 0 %>
  <h3 class="m-3">Ami.e.s</h3>
  <div data-controller="display-all remove-whitespaces" class="white-background container mx-3">
    <div data-display-all-target="summary">
      <div class="d-flex gap1 justify-content-evenly">
        <%= render 'friend_relationship_partial', collection: @friends[0,3] %>
      </div>
      <center><a data-action="click->display-all#displaySummary" data-display-all-target="summary">afficher davantage d'ami.e.s</a></center>
    </div>
    <div class="d-none" data-display-all-target="summary_all">
      <div class="d-flex gap1 justify-content-evenly flex-wrap">
        <%= render 'friend_relationship_partial', collection: @friends %>
      </div>
      <center><a data-action="click->display-all#displaySummary" data-display-all-target="summary">afficher moins d'ami.e.s</a></center>
    </div>
  </div>
<% end %>
