<% @books.each do |book| %>
  </br>
    <%= link_to book_path(book) do %>
      <div class="book-card">
          <%= image_tag book.image_url, alt: book.title, class: "card-image"%>
          <div class="card-content">
            <div>
              <h1><%= book.title %></h1>
              <p><%= book.author %></p>
            </div>
            <div class="ratings">
              <i class="fa-solid fa-star"></i><%= book.ratings %>
            </div>
          </div>
      </div>
    <% end %>
  </br>
<% end %>
