<% @title = @book.title %>
<div class="container book-show">
   <div class="h3">
      <%= @book.author %>
      <h4><%= @book.ratings %><i class="fa-solid fa-star"></i></h4>
   </div>
   <div class="white-background">
      <%= image_tag @book.image_url, alt: @book.title, class: "book-cover"%>
      <ul>
         <li><% if @book.publisher.present? %>
         <%= @book.publisher %>,
         <% end %><%= @book.publishing_year %></li>
         <li><% if @book.book_type.present? %>
         <%= @book.book_type&.capitalize %>:
         <% end %>
         <%= @book.genre %>
         </li>
      </ul>
      <div data-controller="display-all" class="summary">
         <p data-display-all-target="summary">
            <%= @book.summary.truncate(200, separator: ' ') %>
            <a data-action="click->display-all#displaySummary">lire plus</a>
         </p>
         <p data-display-all-target="summary_all" class="d-none">
            <%= @book.summary %>
            <a data-action="click->display-all#displaySummary">lire moins</a>
         </p>
      </div>
   </div>
   <center>
   <% if !@reading.present? %>
      <%= simple_form_for @new_reading do |f| %>
        <%= f.input :book_id, :as => :hidden, :input_html => { :value => @book.id }  %>
        <%= f.button :submit, "Ajouter à ma bibliothèque", class: "btn btn-success mb-3" %>
      <% end %>
      <%= simple_form_for [@book, @new_suggestion] do |f| %>
    <%= f.input :sender_id, :as => :hidden, :input_html => { :value => current_user.id } %>
    <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
    <%= f.input :comment, :as => :hidden, :input_html => { :value => "wish" }  %>
    <%= f.button :submit, "Ajouter à ma liste de souhaits", class: "btn btn-success mb-3" %>
  <% end %>
  <% end %>
      <h3>Avis des lecteur.ice.s</h3>
        <div class="book-reviews">
          <% @book.reviews[0,2].each do |review| %>
          <div class="book-review mb-3">
              <div class="h3">
                <%= review.title %>
                <h6>
                    <%= review.rating %>
                    /5
                </h6>
              </div>
              <p>
                <%= review.content %>
              </p>
          </div>
          <% end %>
        </div>
      <%= link_to "Lire davantage d'avis", book_reviews_path(@book), class: "btn btn-danger mb-3"%>
  <div data-controller="display-all"><a data-display-all-target="button" class="btn btn-primary mb-3" data-action="click->display-all#displayForm">Suggérer à un.e ami</a>
  <%= simple_form_for [@book, @new_suggestion], html: { data: { display_all_target: "form"}, class: "d-none" } do |f| %>
    <%= f.input :sender_id, :as => :hidden, :input_html => { :value => current_user.id }  %>
    <%= f.input :user_id, label: false, as: :select, collection: @friends.map { |friend| [friend.nickname, friend.id] }, include_blank: false %>
    <%= f.input :comment %>
    <%= f.button :submit, "Suggérer", data: { display_all_target: "button", action: "click->display-all#displayForm"} %>
  <% end %>
  </div>
  </center>
<div class="d-flex justify-content-center flex-column align-items-center mb-3">
   <h3>Acheter ce livre </h3>
   <a href='https://www.amazon.fr/<%= @book.title %>/dp/<%= @book.isbn%>'><img src="https://i.imgur.com/Qwfo1tK.png" class="avatar mb-3"></a>
   <%= image_tag "https://i.imgur.com/VSWATo5.png", class: "avatar-icon avatar mb-3" %>
   <%= image_tag "https://i.imgur.com/Rm4E7lA.png", class: "avatar-icon avatar mb-3" %>
   <%= image_tag "https://imgur.com/DhK7erI", class: "avatar-icon avatar mb-3" %>
   <%= link_to "Librairies à proximité de #{current_user.city}", book_stores_path, class: "btn btn-danger mb-3" %>
</div>
</div>
