<% @title = @book.title %>

<div class="container book-show">
	<div class="h3"><%= @book.author %> <h4><%= @book.ratings %><i class="fa-solid fa-star"></i></h4></div>
	<div class="white-background"><%= image_tag @book.image_url, alt: @book.title, class: "book-cover"%>
	<ul>
		<li><i class="fa-solid fa-bookmark"></i><%= @book.publisher %>, <%= @book.publishing_year %></li>
		<li><i class="fa-solid fa-bookmark"></i><%= @book.book_type.capitalize %>: <%= @book.genre %></li>
	</ul>
	<div data-controller="display-all" class="summary">
		<p data-display-all-target="summary">
			<%= @book.summary.truncate(200, separator: ' ') %>
			<a data-action="click->display-all#displaySummary">lire plus</a>
		</p>
		<p data-display-all-target="summary_all" class="d-none">
			<%= @book.summary %>
			<a data-action="click->display-all#displaySummary">lire mois</a>
		</p>
	</div></div>
	<center>
<%= simple_form_for @reading do |f| %>
        <%= f.input :book_id, :as => :hidden, :input_html => { :value => @book.id }  %>
        <%= f.button :submit, "Ajouter à ma bibliothèque", class: "btn btn-danger" %>
<% end %>
		<%= link_to "Ajouter à ma liste de souhaits", book_reviews_path(@book), class: "btn btn-danger"%>
		<h3>Avis des lecteur.ice.s</h3>
		<div class="book-reviews">
			<% @book.reviews[0,2].each do |review| %>
			<div class="book-review">
				<div class="h3">
					<%= review.title %>
					<h6>
						<%= review.rating %>
						/5
					</h6>
				</div>
				<p>
					<%= review.content %>
				</p>
			</div>
			<% end %>
		</div>
		<%= link_to "Lire davantage d'avis", book_reviews_path(@book), class: "btn btn-danger"%>
	</center>
</div>
<div class="d-flex justify-content-center flex-column align-items-center">
  <h3>Acheter ce livre </h3>
  <a href='https://www.amazon.fr/<%= @book.title %>/dp/<%= @book.isbn%>' class="btn btn-danger">Voir sur Amazon</a>
</div>
