<% @title = "favoris" %>
<div data-controller='display-all'>
    <div class="btn-add" data-action="click->display-all#displayForm" data-display-all-target="button">
    <i class="fa-solid fa-plus"></i>
    </div>
    <div class="add-page d-none" data-display-all-target="form">
    <i id="cross_pages" class="fa-solid fa-xmark fa-2xl" data-action="click->display-all#displayForm"></i>
      <div class="form">
        <h2>Titre</h2>
        <%= simple_form_for @playlist_new do |f| %>
          <%= f.input :title, label: false %>
          <%= f.button :submit, value: "Valider", class: "btn btn-danger", data: { action: "click->display-all#displayForm", display_all_target: "button" }%>
        <% end %>
    </div>
  </div>
</div>

<div class="container">
  <% @playlists.each do |playlist| %>
      <h2 style="text-align:center;margin-bottom: 0px"><%= link_to playlist.title, playlist_path(playlist), class: "text-decoration-none" %></h2>
    <div class="container-detail gap1">
      <% playlist.readings.first(6).each do |reading| %>
        <%= link_to book_path(reading) do %>
          <div class="cards-playlist white-background">
          <%= image_tag reading.book.image_url, class: "image-book" %>
          <h1><%= reading.book.title %></h1>
          <p><%= reading.book.author %></p>
          </div>
        <% end %>
      <% end  %>
    </div>
  <% end %>
</div>
