<div id="title" class="text-center mb-4 d-flex align-items-center" data-controller="uptdate-playlist">
  <h1 data-uptdate-playlist-target="title" ><%= @playlist.title %></h1>
  <div class="d-none" data-uptdate-playlist-target="form">
    <%= simple_form_for @playlist do |f| %>
      <%= f.input :title, label: 'Titre' %>
      <%= f.button :submit, value: "Valider" %>
    <% end %>
  </div>
  <i class="fa-solid fa-pen fa-xl ps-3" data-uptdate-playlist-target="pen" data-action="click->uptdate-playlist#display_title" ></i>
  <%= link_to playlist_path(@playlist), method: :destroy, data: { turbo_method: :delete, turbo_confirm: "Êtes vous sur ?"} do %>
  <i id="trashcan"class="fa-solid fa-trash fa-xl"></i>
  <% end %>
</div>
<div class="container">
   <div class="d-flex flex-wrap row ">
      <% @readings.each do |reading| %>
        <% link_to @playlist %><div class="cards-playlist col-6 ">
          <div class="image-book">
            <%= image_tag(reading.book.image_url) %>
          </div>
          <div class="text-playlist d-flex">
            <p><%= reading.book.author %> - <%= reading.book.title %></p>
          </div>
        </div>
      <% end  %>
  </div>
</div>
