<div id="title" class="text-center mb-4 d-flex align-items-center" data-controller="uptdate-playlist">
  <h1 data-uptdate-playlist-target="title" ><%= @playlist.title %></h1>
  <div class="d-none" data-uptdate-playlist-target="form">
    <%= simple_form_for @playlist do |f| %>
      <%= f.input :title, label: 'Titre' %>
      <%= f.button :submit, value: "Valider" %>
    <% end %>
  </div>
  <i class="fa-solid fa-pen fa-xl ps-3" data-uptdate-playlist-target="pen" data-action="click->uptdate-playlist#display_title" ></i>
  <%= link_to playlist_path(@playlist), method: :destroy, data: { turbo_method: :delete, turbo_confirm: "Êtes vous sur ?"} do %>
  <i id="trashcan"class="fa-solid fa-trash fa-xl"></i>
  <% end %>
</div>
<div class="container">
      <% @readings.each do |reading| %>
      <%= link_to reading_path(reading), class: "book-card" do %>
          <%= image_tag reading.book.image_url, alt: reading.book.title, class: "card-image"%>
          <div class="card-content">
              <h1><%= reading.book.title %></h1>
              <p><%= reading.book.author %></p>
            <div class="reading-status">
              <% if reading.reading_status == "unread" %>
                <div class="reading-status-bar" style="width:0%"></div>
              <% elsif reading.reading_status == "reading" %>
                <div class="reading-status-bar" style="width:50%"></div>
              <% elsif reading.reading_status == "read" %>
                <div class="reading-status-bar" style="width:100%"></div>
              <% end %>
            </div>
        </div>
        <% if reading.shared_to.present? %>
          <i class="fa-solid fa-share"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
