<div id="title" class="text-center mb-4 d-flex">
  <h1><%= @playlist.title %></h1>
  <%= link_to playlist_path(@playlist), method: :destroy, data: { turbo_method: :delete, turbo_confirm: "Êtes vous sur ?"} do %>
  <i id="trashcan"class="fa-solid fa-trash fa-xl"></i>
  <% end %>
</div>
<div class="container">
   <div class="d-flex flex-wrap row ">
      <% @readings.each do |reading| %>
        <div class="cards-playlist col-6 ">
          <div class="image-book">
            <%= image_tag(reading.book.image_url) %>
          </div>
          <div class="text-playlist d-flex">
            <p><%= reading.book.author %> - <%= reading.book.title %></p>
          </div>
        </div>
      <% end  %>
  </div>
</div>
